header, main, footer {
  background-color:cornflowerblue;
}

header div {
    display: flex;
    align-items:center;

    /* For spacing, use rems.*/
    gap: 1rem;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

h1 {
    /* For font-sizes use ems. */
    font-size: 3em;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    background-color: goldenrod;
    padding: 1rem;
}

nav a:hover {
    background-color: darkgoldenrod;
}

main {
    margin-top: 1rem 0
}
main section {
    background-color: aqua;
}